
.estado_solicitud {
 font-family: Poppins-Medium ;
}

.tarjetas_sombra{
box-shadow: 6px 20px 10px gray;
}

.tarjetas_opciones{
    margin-right: 20px;
    font-size: 20px;
    box-shadow: 2px 2px 10px gray;
}
